:root {
  --blue-1: #CAF0F8;
  --blue-2: #90E0EF;
  --blue-3: #00B4D8;
  --blue-4: #0077B6;
  --blue-5: #03045E;
  --blue-6: #00aff514;
  --background-color: #fcfcfc;
  --success: #50C878;
  --warning: #CA3433;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

button {
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  border: none;
  border-radius: 5px;
}

input {
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 50%;
}

.error {
  margin-top: 20px;
  background-color: #e66565b1;
  border: 1px solid var(--warning);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: var(--background-color);
}

/* NAVBAR */
.navbar {
  margin: 20px auto;
  padding: 0 60px;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0; /* Updated to top: 0; */
  z-index: 100; /* Added z-index for stacking context */
}

.navbar a {color: var(--blue-5);}

.navbar h1,
.navbar h2 {margin: 0;}

.navbar nav .nav-links a {
  margin-left: 15px;
  font-size: 1.125rem;
  font-weight: 600;
}

.navbar nav .nav-links .logout-btn {
  margin-left: 15px;
  background-color: var(--blue-5);
  color: var(--background-color);
  padding: 5px 10px 6px;
}

.navbar nav .nav-links {display: flex; align-items: center;}

.page-logo { width: 80px; height: 80px; }

.navbar nav .nav-links button {background: none;}

.navbar nav .nav-links .iconify {
  color: var(--blue-5);
  width: 25px;
  height: 25px;
  padding-left: 20px;
  cursor: pointer;
}

.navbar nav .nav-links.iconify:hover {color: var(--blue-6);}

.navbar nav .nav-links .myLinks {display: none;}

.navbar nav .nav-links .myLinks.showMenu {
  background-color: white;
  max-height: 200px;
  width: 280px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0px;
  overflow: hidden;
  border: 1px solid #EBEBEB;
  padding: 10px;
  
}

.navbar nav .nav-links .myLinks a {
  text-decoration: none;
  color: black;
  padding: 5px;
  text-align: right;
  font-weight: 500;
  font-size: 1rem;
}

.navbar nav .nav-links .myLinks a:hover {color: var(--blue-4);}


/* HOME PAGE */
/* first cont */
.first-container {
  background-color: #00aff514;
  padding: 75px 104px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7px;
}

.first-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
}

.first-container-text h1 {
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}

.first-container-text span {color: var(--blue-6)}

.first-container-text p {
  font-weight: 400;
  font-size: 1.25rem;
  width: 466px;
  margin: 0;
  padding-top: 20px;
}

.first-container img {width: 39.25rem; height: 24.18rem;}

/* second cont */

.second-container {
  background-color: var(--background-color);
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-container h2 {
  font-weight: 600;
  line-height: 40px;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 50px;
}

.cars-display-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.car-display-container {
  border: 1px solid #EBEBEB;
  border-radius: 12px;
  height: 430px;
  width: 320px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.car-pic-box {
  padding: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.car-pic-box img {
  background-color: #F7F7FB;
  width: 300px;
  height: 190px;
  border-radius: 8px;
}

.car-pic-box h3 {
  padding-top: 40px;
  padding-left: 5px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.car-info-box {
  padding: 0px 17px 15px 17px;
  display: grid;
  grid-template-columns: 1fr 112px;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 400;
  color: #929395;
}

.car-info-box p {margin-bottom: 7px;}

.car-info-box .iconify {
  padding-right: 10px;
  width: 17px;
  height: 16px;
}

.car-button-box {
  border-top: 1px solid #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 19px 0px 19px;
}

.car-button-box p {
  font-weight: 400;
  font-size: 0.875rem;
}

.car-button-box span {
  font-weight: 800;
  font-size: 0.75rem;
  color: #AAAAAA;
}

.car-button-box button {
  color: #20BFB6;
  font-weight: 400;
  font-size: 0.875rem;
  background: none;
  border: none;
  width: 100px;
}

/* third cont */
.third-container {
  background-color: #00aff514;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.third-pic {width: 580px;height: 380px;}

.third-container .block {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 15px;
  width: 366px;
  height: 145px;
  position: absolute;
}

.third-container .block h3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 0px;

}

.third-container .block p {font-weight: 500px}

.third-container .block img {
  width: 45px;
  height: 45px;
  position: absolute;
  top: -32px;
  left: 0px;
}

.third-container .num1 {top: 100px;left: 110px;}

.third-container .num2 {top: 65px;right: 190px;}

.third-container .num3 {top: 480px;left: 50px;}

.third-container .num4 {top: 380px;right: 50px;}

.third-container .num5 {top: 650px;right: 500px;}

/* fourth cont */
.fourth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  margin: 0 auto;
}

.fourth-container img {
  width: 100%;
  max-width: 64px;
  margin: 0px 40px;
}

/* LOGIN, SIGNUP */
.login-signup-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 60vh;
  margin: 0 auto;
}

form.login-signup {
  width: 300px;
  display: flex;
  flex-direction: column;
}

form.login-signup h3 {text-align: center;margin-top: 0;}

form.login-signup input {height: 25px;margin: 5px 0;}

form.login-signup button {
  width: 150px;
  background-color: var(--blue-5);
  color: var(--background-color);
  margin: 20px auto 0;
  padding: 10px 20px;
}

/* modal */

.cookie-modal {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  z-index: 999;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.cookie-modal.show {display: block;}

.cookie-content {text-align: center;}

.cookie-content h2 {font-size: 24px; margin-bottom: 10px;}

.cookie-content p {font-size: 16px;margin-bottom: 20px;}

.cookie-content a {color:var(--blue-5)}

.cookie-buttons {display: flex;justify-content: center;}

.cookie-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* CARS PAGE */
.cars {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-left: 0;
}

.search {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.search select {
  height: 30px;
  width: 200px;
  margin-left: 10px;
  background-color: var(--background-color);
  border: 1px solid var(--blue-5);
  border-radius: 5px;
  padding: 0 10px;
}

.cars img {
  max-width: 300px;

/* loading modal */

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.loading-content {
  background-color: #FFF;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
  text-align: center;
}

.loading-text {
  font-size: 36px;
  font-weight: bold;
  color: var(--blue-5);
  margin-bottom: 20px;
}

/* CAR DETAILS PAGE */
.car-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-details img {
  max-width: 300px;
}

.car-details .car-pic-box h3 {
  padding: 0;
  text-align: center;
  margin: 20px;
}

.car-details .properties-rent-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-details .properties-price {
  text-align: center;
}

.car-details .properties {
  text-align: left;
  background-color: var(--blue-4);
  color: var(--background-color);
  border-radius: 10px;
  padding: 5px 20px;
  margin-bottom: 20px;
}

.car-details .properties p {
  margin: 10px 0;
}

.car-details span {
  background-color: var(--blue-3);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--background-color);
}

.car-details a {
  color: #03045E;
  margin-top: 30px;
}

/* RENT A CAR FORM */
.car-details .rent-table form {
  width: 300px;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  background-color: var(--blue-1);
  border-radius: 10px;
  padding: 20px;
}

.car-details .rent-table form h3 {
  text-align: center;
  margin: 0 0 20px;
}

.car-details .rent-table label {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.car-details .rent-table input.date {
  width: 255px;
  margin-right: auto;
  margin-bottom: 10px;
}

.car-details .rent-table form label:last-of-type {
  font-size: 0.875rem;
  display: inline;
}

.car-details .rent-table form #agreement {
  margin-right: 5px;
}

.car-details .rent-table form input {
  height: 20px;
  background-color: var(--background-color);
  border: 1px solid var(--blue-4);
  border-radius: 5px;
}

.car-details .rent-table form button {
  display: block;
  background-color: var(--blue-4);
  color: var(--background-color);
  font-size: 0.938rem;
  padding: 5px 10px;
  margin: 20px auto 0;
}

.rent-table .success-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rent-table .success-bg .success {
  background-color: var(--background-color);
  border-radius: 10px;
  width: 50%;
  min-width: 300px;
  padding: 30px;
  text-align: center;
}

.rent-table .success-bg .success button {
  background-color: var(--blue-5);
  color: var(--background-color);
  padding: 10px 20px;
  margin: 0 5px;
}

.car-details .buttons button.edit,
.car-details .buttons button.delete {
  color: var(--background-color);
  font-size: 0.938rem;
  padding: 5px 10px;
  margin: 20px 5px 0;
}

.car-details .buttons button.edit {
  background-color: var(--success);
}

.car-details .buttons button.delete {
  background-color: var(--warning);
}

/* RESERVATION */

.row2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 30px;
  background-color: var(--blue-6);
  border-radius: 5px;
  margin-bottom: 20px;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid #EBEBEB;
}

button.edit {
  padding: 5px 10px;
  background-color: var(--blue-5);
  color: white;
}

.col {
  text-align: center;
}

/* EDIT RESERVATION */

select#cars {
  height: 30px;
  width: 200px;
  background-color: var(--blue-6);
  border: 1px solid var(--blue-5);
  border-radius: 5px;
  padding: 0 10px;
  margin: 30px 50px 50px 0;
}

input#from.date, input#to.date {
  height: 27px;
  padding: 0 30px;
  border-radius: 5px;
  background-color: var(--blue-6);
  border: 1px solid var(--blue-5);
}

.edit-reservation label {
  margin-right: 50px;
}

.edit-reservation button {
  display: block;
  margin-left: 15px;
  background-color: var(--blue-5);
  color: var(--background-color);
  padding: 5px 10px 6px;
  margin-bottom: 5px;
}

.edit-reservation a {
  color: white;
}

.edit-reservation img {
  max-width: 300px;
} 

/* NEW CAR */
.new-car {
  background-color: #03055e53;
  padding: 30px 0;
  border-radius: 10px;
  width: 350px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-car a.drafts {
  margin: 0 auto 20px;
  color: var(--blue-5);
  font-weight: 300;
}

.new-car form {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.new-car button.save-draft {
  background-color: transparent;
  width: 200px;
  color: var(--blue-5);
  margin: 10px auto 0;
}

.new-car .success {
  margin-top: 10px;
  background-color: #50c8789d;
  padding: 10px;
  border: 2px solid var(--success);
  border-radius: 5px;
  color: var(--background-color);
}

/* EDIT A CAR */
.edit-car {
  padding-top: 50px;
}

.edit-car form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  background-color: var(--blue-6);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #EBEBEB;
}

.edit-car form h3,
.new-car form h3 {
  text-align: center;
  margin: 0;
}

.edit-car form input,
.new-car form input {
  margin: 5px 0;
  height: 20px;
}

.edit-car form .buttons,
.new-car form .buttons {
  margin: 10px auto 0;
}

.edit-car form button,
.new-car form button {
  width: 100px;
  background-color: var(--blue-5);
  color: var(--background-color);
  padding: 10px 20px;
}

.edit-car form button a,
.new-car form button a {
  color: var(--background-color);
}

.edit-car form button.link-btn,
.new-car form button.link-btn {
  width: 130px;
  margin-right: 10px;
}

/* DRAFT CARD */
.drafts .title {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.drafts .title a {
  color: var(--blue-5);
}

h2.drafts-heading {
  margin: 0;
}

.drafts-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.drafts-grid a {
  color: black;
}

.drafts-grid .draft-card {
  background-color: var(--blue-1);
  background: linear-gradient(180deg, var(--blue-1), var(--blue-2));
  border-radius: 10px;
  height: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drafts-grid .draft-card .clickable-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.drafts-grid .draft-card .text strong {
  margin-right: 50px;
}

.drafts-grid .draft-card button {
  padding: 5px 10px;
  background-color: var(--warning);
  color: var(--background-color);
}

.drafts-grid .draft-card:hover {
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.303);
}
/*INFO-PAGE CLASS FOR FAQ,ABOUT US, PRIVACY POLICY, RENT POLICY*/
.info-page header {
  background-color: var(--blue-2);
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
}
.info-page  h2, h3, h4{
  color: var(--blue-5);
  margin-left: 30px;
  margin-top: 50px;
}
.info-page strong{
  color: var(--blue-5);
}
.info-page .top-text{
  margin-top: 50px;
}
.info-page li{
  margin-left: 30px;
  max-width: 1200px;
  padding: 0 30px 0 30px;
  color: rgb(121, 119, 119);
}
.info-page ul li{
  list-style: none; 
}
.info-page ul li::before {
  content: "\2022";
  color: var(--blue-4);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.info-page a{
  text-decoration: none;
  color: var(--blue-4);
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
}
.info-page p {
  margin-left: 30px;
  max-width: 1200px;
  color: rgb(121, 119, 119);
  font-size: 15px;
}
/* ABOUT US */

.about-us header img {
  max-width: 25vw;
  max-height: 25vh;
}

.about-us form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30px;
}

.about-us input {
  margin-bottom: 10px;
  border: 1px solid var(--blue-2);
  border-radius: 6px;
  font-size: 1rem;
  padding: 6px;
}

.about-us textarea {
  margin-bottom: 10px;
  border: 1px solid var(--blue-2);
  border-radius: 6px;
  font-size: 1rem;
  padding: 6px;
}

.about-us button {
  width: 100px;
  height: 40px;
  padding: 8px, 4px;
  border-radius: 6px;
  color: var(--background-color);
  background-color: var(--blue-3);
  border: none;
  font-size: 1.2rem;
}

/* FAQ */

.faq header img {
  max-width: 20vw;
  max-height: 20vh;
}
.accord-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50vw;
}
.accord-title:hover{
  cursor:pointer;
}
.accord-title .sign{
  color: var(--blue-5);
  font-weight: 800;
  padding-top: 30px;
  font-size: 1.5em;
}
.accord-content{
  border-top:  2px solid var(--blue-1);
  margin-right: 30px;
  margin-bottom: 10px;
  max-height: 35vh;
  animation-name: contentanimate;
  animation-duration: 1.5s;
}
@keyframes contentanimate {
  0% {
    opacity: 0;
    max-height: 1vh;
  }
  100% {
    opacity: 1;
    max-height: 35wh;
  }
}

/*PRIVACY POLICY*/

.privacy-policy header img{
  max-width: 20vw;
  max-height: 20vh;
}
.privacy-policy ol li {
  color: var(--blue-5);
}

/* RENT POLICY  */

.conditions header img{
  max-width: 20vw;
  max-height: 20vh;
}

.conditions .email {
  color: var(--blue-4)
}

.conditions p {
  margin-left: 30px;
  max-width: 1200px;
  color: rgb(121, 119, 119);
  font-size: 0.938rem;
}

/* ERROR PAGE */

.notfound {
  text-align: center;
}

.notfound h1 {
  font-size: 16.25rem;
  background-image: url(../public/images/9CuLlD.webp);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 50px;
  margin-top: 0;
}


.notfound a {
  text-decoration: none;
  margin-left: 30px;
}

.notfound p {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* FOOTER */
footer {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 20px 0;
}

footer img {
  width: 90px;
  height: 90px;
}

footer .footer-link-list {
  display: flex;
  gap: 100px;
}

footer .footer-link-list .link-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  
}

footer .footer-link-list .link-list a {
  display: flex;
  padding: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem;
  color: black;
}

footer .footer-link-list hr {
  border: 1px solid black;
  height: 70px;
}

footer .social-links a {
  color: black;
  margin: 7px;
  padding: 3px 5px;
  border: 1px solid black;
  border-radius: 50%;
}

.copyright-text {
  text-align: center;
  font-size: 0.813rem;
  margin: 5px;
}

/* MEDIA */

/* home */
@media all and (max-width:1500px) {
  .third-container .block {width: 280px;}
}

@media all and (max-width:1400px) {
  .cars-display-container {display: grid; grid-template-columns: 1fr 1fr;}
}

@media all and (max-width:1330px) {
  .first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .first-container .first-container-text {padding-bottom: 20px;}


  .third-container .block {width: 200px;}

  .third-container .block h3 {font-size: 17px;}

  .third-container .block p {font-size: 13px;}
}

@media all and (max-width:1250px) {
  footer .footer-link-list {gap: 50px;}
}

@media all and (max-width:1170px) {
  .third-container .block {width: 150px;}

  .third-container .block h3 {font-size: 15px;}

  .third-container .block p {font-size: 12px;}
}

@media all and (max-width:1170px) {
  .third-container {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }

  .third-pic {
    width: 80%;
    max-width: 400px;
    height: auto;
    margin-bottom: 30px;
  }

  .third-container .block {
    width: 60%;
    margin-bottom: 30px;
    position: static;
  }

  .third-container .block img {
    top: initial;
    left: initial;
    position: relative;
    margin-bottom: 10px;
  }

  .third-container .num1, .third-container .num2, .third-container .num3, .third-container .num4, .third-container .num5 {top: initial;left: initial;right: initial;}

  .fourth-container img {margin: 0px 20px}

  .third-container .block h3 {
    font-size: 1.063rem;
    margin-top: 0px;
  }

  .third-container .block p {
    font-size: 0.813rem;
  }

}

@media all and (max-width:920px) {
  .cookie-content h2 {margin-top: 0px; font-size: 20px;}
  .cookie-content p {font-size: 14px;}
}

@media all and (max-width:850px) {
  .fourth-container img {margin: 0px 10px}
  .first-container {padding: 50px 20px;}
}


@media all and (max-width:740px) {
  footer {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    gap: 10px;
  }

  footer .social-links {padding: 15px 0px;}
}


@media all and (max-width:710px) {
  .fourth-container {
    padding: 40px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center

  .third-container .block h3 {
    font-size: 0.938rem;
  }

  .third-container .block p {
    font-size: 0.75rem;
  }

  .first-container-text h1 {font-size: 25px;}
  .first-container-text p {font-size: 17px;}
  .first-container img {width: 35.25rem;height: 20.18rem;}

  .cars-display-container{ display: flex; flex-wrap: wrap; justify-content: center;}

  .cookie-modal {width: 300px;}
  .cookie-buttons button {padding: 5px 15px;}
}


@media all and (max-width:590px) {
  .first-container img {width: 29.25rem;height: 17.28rem;}
}

@media all and (max-width:500px) {
  .first-container img {width: 22.25rem;height: 14.08rem;}
  .first-container-text h1 {font-size: 20px;}
  .first-container-text p {font-size: 13px;}
  footer .footer-link-list {gap: 20px;}
}

@media all and (max-width:480px) {
  .fourth-container{gap: 5px;}
  .navbar {padding: 0 20px}
  .navbar nav .nav-links a {font-size: 15px;}
}

@media all and (max-width:460px) {
  .third-container .block img {width: 35px; height: 35px; margin-bottom: 0px;}
  .third-container .block h3{font-size: 18px;}
  .second-container h2 {text-align: center;}
}




/* not found */
@media all and (max-width: 1024px) {
  .notfound h1 {
    font-size: 15rem;
  }
}

@media all and (max-width: 950px) {
  .notfound h1 {
    font-size: 13.25rem;
  }
}

@media all and (max-width: 720px) {
  .notfound h1 {
    font-size: 11.25rem;
  }
}

@media all and (max-width: 580px) {
  .notfound h1 {
    font-size: 8.25rem;
  }
}

@media all and (max-width: 480px) {
  .notfound h1 {
    font-size: 10vh;
  }
}

/* CAR DETAILS */
@media all and (max-width: 675px) {
  .car-details .properties-rent-form {
    display: flex;
    flex-direction: column;
  }
}