:root {
  --blue-1: #CAF0F8;
  --blue-2: #90E0EF;
  --blue-3: #00B4D8;
  --blue-4: #0077B6;
  --blue-5: #03045E;
  --background-color: #fcfcfc;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

button {
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  border: none;
  border-radius: 5px;
}

input {
  font-family: 'Manrope', sans-serif;
}

/* NAVBAR */
.navbar {
  width: 100vw;
}

.navbar a {
  text-decoration: none;
  color: var(--blue-5);
}

.navbar h1,
.navbar h2 {
  margin: 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container nav .nav-links a {
  margin-left: 15px;
}

.navbar .container nav .nav-links .logout-btn {
  margin-left: 15px;
  background-color: var(--blue-5);
  color: var(--background-color);
  padding: 5px 10px 6px;
}

/* LOGIN, SIGNUP */
.login-signup-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
}

form.login-signup {
  width: 300px;
  display: flex;
  flex-direction: column;
}

form.login-signup h3 {
  text-align: center;
  margin-top: 0;
}

form.login-signup input {
  height: 25px;
  margin: 5px 0;
}

form.login-signup button {
  width: 150px;
  background-color: var(--blue-5);
  color: var(--background-color);
  margin: 20px auto 0;
  padding: 10px 20px;
}

/* CARS PAGE */
.cars ul {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-left: 0;
}

.cars ul li {
  list-style: none;
}

.cars ul li span {
  display: block;
  margin: 10px 0;
}

.cars ul li a button {
  background-color: var(--blue-1);
  padding: 5px 10px;
  border: 1px solid black;
  cursor: pointer;
  text-transform: uppercase;
}

/* CAR DETAILS PAGE */
.car-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-details img {
  max-width: 300px;
}

.car-details .properties-rent-form {
  display: flex;
  justify-content: space-between;
}

.car-details .properties-price {
  text-align: center;
}

.car-details .properties {
  text-align: left;
  background-color: var(--blue-4);
  color: var(--background-color);
  border-radius: 10px;
  padding: 5px 20px;
  margin-bottom: 20px;
}

.car-details .properties p {
  margin: 10px 0;
}

.car-details span {
  background-color: var(--blue-3);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--background-color);
}

.car-details a {
  text-decoration: none;
  color: #03045E;
}

/* RENT A CAR FORM */
.car-details .rent-table form {
  width: 300px;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  background-color: var(--blue-1);
  border-radius: 10px;
  padding: 20px;
}

.car-details .rent-table form h3 {
  text-align: center;
  margin: 0 0 20px;
}

.car-details .rent-table label {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.car-details .rent-table input.date {
  width: 255px;
  margin-right: auto;
  margin-bottom: 10px;
}

.car-details .rent-table form label:last-of-type {
  font-size: 14px;
  display: inline;
}

.car-details .rent-table form #agreement {
  margin-right: 5px;
}

.car-details .rent-table form input {
  height: 20px;
  background-color: var(--background-color);
  border: 1px solid var(--blue-4);
  border-radius: 5px;
}

.car-details .rent-table form button {
  display: block;
  background-color: var(--blue-4);
  color: var(--background-color);
  font-size: 15px;
  padding: 5px 10px;
  margin: 20px auto 0;
}

.error {
  margin-top: 20px;
  background-color: #e66565b1;
  border: 1px solid var(--warning);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: var(--background-color);
}

.car-details .buttons button.edit,
.car-details .buttons button.delete {
  color: var(--background-color);
  font-size: 15px;
  padding: 5px 10px;
  margin: 20px 5px 0;
}

.car-details .buttons button.edit {
  background-color: var(--success);
}

.car-details .buttons button.delete {
  background-color: var(--warning);
}

/* EDIT A CAR */
.edit-car {
  padding-top: 50px;
}

.edit-car form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  background-color: #03055e53;
  padding: 20px;
  border-radius: 10px;
}

.edit-car form h3 {
  margin: 0 0 20px;
  text-align: center;
}

.edit-car form input {
  margin: 5px 0;
  height: 20px;
}

.edit-car form .buttons {
  margin: 10px auto 0;
}

.edit-car form button {
  width: 100px;
  background-color: var(--blue-5);
  color: var(--background-color);
  padding: 10px 20px;
}

.edit-car form button a {
  text-decoration: none;
  color: var(--background-color);
}

.edit-car form button.link-btn {
  width: 130px;
  margin-right: 10px;
}